::-webkit-scrollbar-button {
    display: block;
    height: 13px;
    border-radius: 0px;
    background-color: #001c0d;
}

::-webkit-scrollbar-button:hover {
    background-color: #808080;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #378a54;
}

::-webkit-scrollbar-track {
    background-color: #135528;
}

::-webkit-scrollbar-track:hover {
    background-color: #80ff80;
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

.w3-container {
    color: #337ab7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    /*border: solid 2px #70ff68;*/
    background-color: #125e53;
    height: 94vh;
    display: flex;
    overflow: auto;
    margin: 20px;
}

.board {
    border: solid 2px #70ff68;
    background-color: #125e53;
    width: 95%;
    height: 94vh;
    display: flex;
    overflow: auto;
    margin: 20px;
}

.checkout {
    margin-top: 75px;
    text-align: center;
}

.checkout-title {
    font-size: 75px;
    color: black;
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 8px #ff0000;
}

.checkout-description {
    font-size: 30px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 8px #ff0000;
}

.swimlane {
    width: 200px;
    border: solid 1px #222222;
    background-color: #547570;
    flex-basis: 200px;
    margin: 5px;
    /*    overflow-y: auto;*/
}

.boardName {
    font-size: 50px;
    text-align: center;
    padding: 30px 10px;
}

.swimelaneName {
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 20px;
}

.cardName {
    color: lightgrey;
    text-decoration: underline;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    padding: 3px;
}

.card {
    width: 200px;
    height: 200px;
    border: solid 1px #000000;
    background-color: #00a58c;
    margin-top: 10px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.buttons {
    display: flex;
    justify-content: center;
    cursor: default;
    margin: 5px;
}

.fa-layers-text {
    font-weight:900;
    font-size: 15px;
}

.fa-edit {
    size: 15px;
}

/*.addCardBtn {*/
    /*border-radius: 4px;*/
    /*background-color: #212529;*/
    /*border-color: #212529;*/
    /*color: #cfcfcf;*/
    /*font-size: 15px;*/
    /*text-align: center;*/
    /*cursor: default;*/
/*}*/

.userboards {
    display: inline-block;
    width: 50%;
    background-color: lightseagreen;
    /*border: solid 3px cornflowerblue;*/
    color: white;
    padding: 20px 0px;
    text-align: center;
    margin: 15px 7px;
    font-size: 30px;
    cursor: pointer;
}
.userboards a:link {
    color: white;
}

.userboards:hover .userboard-buttons {
    visibility: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.userboards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userboard-buttons {
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: default;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0px 10px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    visibility: hidden;
}
.userboard-buttons:hover {
    background-color: white;
    opacity: 0.5;
    color: lightseagreen;
}

.swimlanesButtons:hover {
    background-color: white;
    opacity: 0.5;
    color: lightseagreen;
}

.createSwimlane {
    border-radius: 4px;
    background-color: lightseagreen;
    /*border-color: #70ff68;*/
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em !important;
    padding: 10px 20px !important;
}

.createSwimlane:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swimlanesButtons {
    background-color: transparent;
    color: white;
    font-size: 10px;
    cursor: default;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0px 5px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    visibility: hidden;
}

.swimlane:hover .swimlanesButtons {
    visibility: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swimlane:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardButtons {
    background-color: transparent;
    color: lightgrey;
    font-size: 10px;
    cursor: default;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 0px 5px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    visibility: hidden;
}

.cardButtons:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    opacity: 0.5;
    color: lightseagreen;
}

.card:hover .cardButtons {
    visibility: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
    color: lightgrey;
    padding: 0px 5px;
}

.content {
    display: none;
}

#login-view {
    display: none;
}

.home-background-wallpaper {
    background-image: url("shark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.checkout-wallpaper {
    background-image: url("shark-bait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background-wallpaper {
    background-image: url("shark-banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.home-heading {
    font-size: 5em;
    color: cornflowerblue;
    margin: 50px 0px 0px 30px;
}

.login {
    margin: 100px 0px 0px 0px;
}

.statement {
    font-size: 3em;
    color: lightseagreen;
    margin-left: 30px;
}

.btn-primary {
    border-color: cornflowerblue !important;
    background-color: transparent !important;
    color: lightseagreen !important;
    font-size: 1.5em !important;
    padding: 10px 20px !important;
    margin-left: 35px !important;
    margin-bottom: 20px !important;
}

.btn-primary:hover {
    background-color: cornflowerblue !important;
    color: white !important;
}