doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/trello-style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://cdn.auth0.com/js/auth0/8.7/auth0.min.js')
<<<<<<< HEAD
    script(src='/myapp/app.js/')
    script(src='/javascripts/trello.js')
  body(style='background-color:#001c0d')
    nav.w3-bar.w3-border.w3-light-grey(role='navigation')
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a.w3-bar-item.w3-button(href='/') Home
      if loggedIn
        a( href="/user" ).w3-bar-item.w3-button Profile
        a( id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Logout
      else
        a( id="qsLoginBtn" href="/login" ).w3-bar-item.w3-button Login
=======
  body

>>>>>>> e9fc68b896a76f11ee2a72ff9e92d59a2c912e18
    block content
    
  block script



