doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
    link(rel='stylesheet' type='text/css' href='/stylesheets/trello-style.css')
    script(src='/javascripts/trello.js')
  body(style='background-color:#001c0d')
    block content