extends trello-layout

block content
    input(id="startBtn" type="button" value="Add Swimlane" style="border-radius: 4px; background-color: #212529; border-color: #212529; color: #CFCFCF;")
    div(class='container')