extends layout

block content
  .background-wallpaper
    .container-fluid
      .row
        .col-sm-8
          p.home-heading AGILE SHARK BOARD
          p.statement Organize your life
        .col-sm-3
          .login
          if loggedIn
            h4 You are logged in!
          else
            h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
        .col-sm-1
          

          .row
        .col-sm-8
          a.button#btn-home-view.btn.btn-primary.btn-margin.home(href='/') Home
          if loggedIn
            a( id="qsProfileBtn" href='/user').w3-bar-item.w3-button.btn.btn-primary.btn-margin.home Profile
            a( id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button.btn.btn-primary.btn-margin.home Logout
          else
            a( id="qsLoginBtn" href="/login" ).w3-bar-item.w3-button.btn.btn-primary.btn-margin.home Login
        .col-sm-4
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      img(src=user.picture)
      p Welcome #{user.nickname}
      input(id="createBoard" type="button" value="Create New Board" style="border-radius: 4px; background-color: #212529; border-color: #212529; color: #CFCFCF;")

block script
  script.
    var userid = "#{user.user_id}";
  script(src='/javascripts/create-board.js')