extends layout

block content
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      img(src=user.picture)
      p Welcome #{user.nickname}
      input(id="createBoard" type="button" value="Create New Board" style="border-radius: 4px; background-color: #212529; border-color: #212529; color: #CFCFCF;")

block script
  script.
    var userid = "#{user.user_id}";
  script(src='/javascripts/trello.js')